In [1]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.read_csv("Houses.csv", encoding='windows-1250')
df1.head()

,no,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,0,Podgórze Zabłocie Stanisława Klimeckiego,Kraków,2.0,23918.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0
1,1,Praga-Południe Grochowska,Warszawa,3.0,17828.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0
2,2,Krowodrza Czarnowiejska,Kraków,2.0,22784.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0
3,3,Grunwald,Poznań,2.0,4315.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0
4,4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,11770.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0

In [8]:
df1.shape

(23764, 11)

In [9]:
df2 = df1.drop(["no","latitude", "longitude", "id"], axis='columns')

In [10]:
df2.head(10)

,address,city,floor,price,rooms,sq,year
0,Podgórze Zabłocie Stanisława Klimeckiego,Kraków,2.0,749000.0,3.0,74.05,2021.0
1,Praga-Południe Grochowska,Warszawa,3.0,240548.0,1.0,24.38,2021.0
2,Krowodrza Czarnowiejska,Kraków,2.0,427000.0,2.0,37.00,1970.0
3,Grunwald,Poznań,2.0,1290000.0,5.0,166.00,1935.0
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,996000.0,5.0,105.00,2020.0
5,Nowa Huta Czyżyny ul. Woźniców,Kraków,2.0,414600.0,1.0,34.55,2022.0
6,Podgórze Płaszów Koszykarska,Kraków,0.0,750000.0,4.0,81.40,2021.0
7,Mokotów Pory,Warszawa,10.0,2890000.0,6.0,280.00,2003.0
8,Ursynów Wyżyny,Warszawa,3.0,615000.0,4.0,63.40,1982.0
9,Bemowo,Warszawa,1.0,429000.0,1.0,40.00,1999.0

In [11]:
df2.isnull().sum()

address    0
city       0
floor      0
price      0
rooms      0
sq         0
year       0
dtype: int64

In [13]:
df3 = df2.copy()
df3['price_per_sq'] = df3['price'] / df3['sq']

In [14]:
df3.head()

,address,city,floor,price,rooms,sq,year,price_per_sq
0,Podgórze Zabłocie Stanisława Klimeckiego,Kraków,2.0,749000.0,3.0,74.05,2021.0,10114.787306
1,Praga-Południe Grochowska,Warszawa,3.0,240548.0,1.0,24.38,2021.0,9866.611977
2,Krowodrza Czarnowiejska,Kraków,2.0,427000.0,2.0,37.00,1970.0,11540.540541
3,Grunwald,Poznań,2.0,1290000.0,5.0,166.00,1935.0,7771.084337
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,996000.0,5.0,105.00,2020.0,9485.714286

In [15]:
len(df3.address.unique())

5419

In [18]:
df3.address = df3.address.apply(lambda x: x.strip())

address_stats = df3.groupby('address')['address'].agg('count').sort_values(ascending=False)
address_stats

address
Mokotów                                          426
Wola                                             384
Nowe Miasto Malta ul. Katowicka                  377
Śródmieście                                      352
Białołęka                                        248
                                                ...
Praga-Północ Nowa Praga Plac Hallera               1
Praga-Północ Nowa Praga Stefana Starzyńskiego      1
Praga-Północ Nowa Praga Strzelecka                 1
Praga-Północ Nowa Praga Wileńska 16                1
Żoliborz Żoliborz Artystyczny                      1
Name: address, Length: 5392, dtype: int64

In [19]:
len(address_stats[address_stats<=10])

5084

In [20]:
address_stats_less_than_10 = address_stats[address_stats<=10]
df3.address = df3.address.apply(lambda x: 'Other' if x in address_stats_less_than_10 else x)

In [21]:
len(df3.address.unique())

309